@using GoodAggregatorNews.Core.DataTransferObject

@model CommentDto

@{ 
    Layout = null;
}

<div class="card col-sm-12">
    <div class="card-body">
        <p>@Model.FullName @Model.PublicationDate.ToString("dd.MM.yyyy HH:mm")</p>
        <p class="card-text">@Model.Text</p>
    </div>
</div>

