@using GoodAggregatorNews.Core.DataTransferObject

@model CommentDto

@{ 
    Layout = null;
}

<div class="card2 col-sm-12">
    <div class="card-body">
        <p>@Model.FullName 
            </br>@Model.PublicationDate.ToString("f")</p>
        <p class="card-text">@Model.Text </p>
    </div>
</div>

