@using GoodAggregatorNews.Models
@*???*@
@model CommentsListWithArticle
@{
    Layout = null;
}

<div>
    <h1>Create a comment</h1>
    <form asp-controller="Comment" asp-action="CreateComment" method="post">
        <div class="mb-3">
            <label for="text" class="form-label">Text</label>
            <input asp-for="Text" type="text" class="form-control" id="text" required>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
    
        <input type="submit" class="btn btn-primary" value="Submit">

    </form>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}