@using GoodAggregatorNews.Models

@model CreateComment

@{
	ViewData["Title"] = "Create comment";
}

<div class="row container">
    <input type="hidden" id="articleId" name="articleId" value="@Model.ArticleId" />
    <div class="col-sm-12">
        <label for="text">Leave a comment:</label>
        <textarea name="text" class="form-control" id="text" rows="3"></textarea>
    </div><br /><br />

    <br /> <br /> <br /> <br /><div class="col-sm-12">
        <button class="btn btn-primary write-comment-btn" id="create-comment-btn">Send</button>
    </div>
</div>

