@using GoodAggregatorNews.Models

@model CommentsListWithArticle

@{
	ViewData["Title"] = "List comments";
}

<div class="container">
    <div class="row">
        @foreach (var comment in Model.Comments)
        {
            @await Html.PartialAsync("CommentPartialView", comment)
    
        }
    </div>   
</div>