@using GoodAggregatorNews.Models

@model CommentsListWithArticle

@{
	ViewData["Title"] = "List comments";
}

<div class="container" >
        <a class="btn btn-primary" href="~/comment/createComment/@Model.ArticleId" role="button">Leave a comment</a>

    <div  class="row">
        @foreach (var comment in Model.Comments)
        {
            @await Html.PartialAsync("CommentPartialView", comment)
    
        }
    </div>    

    <hr/>

@*    <p id="login-to-see-comments">Only authorized users can leave comments. Please register or login</p>
*@</div>
