@model ArticleDto

<div>
<div class="container">
  <div class="row">
    <div class="col-12">
         <h3>
                @Html.DisplayFor(modelItem => Model.Title)
             </h3>
    </div>

    <div class="col-12">
        <p>
             @Html.DisplayFor(modelItem => Model.ShortDescription)
        </p>
    </div>
     <div class="col-9">
           <h6>
                @Html.DisplayFor(modelItem => Model.PublicationDate)
            </h6>
        </div>
    <div class="col-3">

                 <a class="col-12 col-sm-10 btn btn-primary" href="~/article/details/@Model.Id">Read details</a> 

        </div>
  </div>
</div>