@model IEnumerable<ArticleDto>

@{
	ViewData["Title"] = "Article";
}

<h1>Articles</h1>

 <div class="row">
    @if (Model.Any())
    {
       foreach (var item in Model)
       {
            await Html.RenderPartialAsync("ArticlePreview", item);
       }



     
    }
</div>
     

</div>
